
@{
    ViewBag.Title = "UserAbout";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<h4>Giới thiệu</h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">
            <h5>Hệ thống Quản lí thư viện</h5>
            @*<div>
                <i class="fas fa-flag"></i>
                <span>Opened on 14 Augest 1997</span>
            </div>*@
            <div>
                <i style="font-size:1.2rem" class="fas fa-brain"></i>
                <span style="font-size:1.2rem">Chức năng</span>
                <p style="padding:10px">Đây là hệ thống quản lý Thư viện giúp bạn theo dõi và kiểm soát các giao dịch viên trong thư viện, Thông qua đó, người dùng thư viện có thể tìm sách, yêu cầu sách, trả sách, v.v..</p>
            </div>
        </div>
        <br />
        <div class="card card-body">
            <h5>Nhóm 24</h5>
            <div style="padding: 10px;">
                <i class="fas fa-user-cog"></i>
                <span style="margin-left:6px">Phan Nguyễn Minh Phát</span>
            </div>
            <div style="padding: 10px;">
                <i class="fas fa-user-cog"></i>
                <span style="margin-left:6px">Cù Thị Lâm Oanh</span>
            </div>
            
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:332px; object-fit: cover;" src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />


