
@{
    ViewBag.Title = "UserContact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<br />
<h4>Liên hệ</h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">
            <h5 style="font-size:1.6rem">Đia chỉ</h5>
            <div style="padding:8px">
                <span>828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh</span>
            </div>
            <div style="padding:8px">
                <span>SĐT-1: 0703114632</span>
            </div>
            <div style="padding:8px">
                <span>SĐT-2: 0875082508</span>
            </div>


        </div>
        <br />
        <div class="card card-body">
            <h5 style="font-size:1.6rem">Thông tin liên hệ</h5>
            <div style="padding:8px">
                <i class="fas fa-envelope"></i>
                <span><i>contact@huflit.edu.vn</i></span>
            </div>
            <div style="padding:8px">
                <i class="fas fa-phone-square"></i>
                <span><i>0703114632</i></span>
            </div>
            <div style="padding:8px">
                <i class="fab fa-twitter-square"></i>
                <span><i>contact@huflit.edu.vn</i></span>
            </div>
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:317px; object-fit: cover;" src="https://images.pexels.com/photos/1333742/pexels-photo-1333742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />

